.env
/.idea
/vendor
/.vscode
/public/hot
.env.backup
/node_modules
composer.lock
npm-debug.log
/storage/*.key
Homestead.json
Homestead.yaml
yarn-error.log
/public/storage
.phpunit.result.cache
/public/admin_css/admin
docker-compose.override.yml
